/* Universal Styles */

.flex {
  display: flex;
}

header {
  width: 100%;
  height: 64px;
  position: fixed;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid;
}

.container {
  width: 100%;
  margin: 0 auto;
}

nav {
  justify-content: space-between;
}

.logo {
  align-items: center;
  margin-left: 24px;
}

.logo img {
  height: 32px;
}



/* Header and Navigation */
