/* Universal Styles */
html {
  font-size: 16px;
  color: #454545;
  vertical-align: baseline;
  font-family: "roboto";
}

*{
  box-sizing: border-box;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.mobile {
  display: none;
}

/* Header Section */
nav {
  justify-content: space-between;
}

.navigation {
  margin-right: 24px;
  align-items: center;
}

.navigation ul li {
  padding: ;
  display: inline;
}
